<!-- dashboard.html -->
<div ng-controller="DashboardController">
    <h1 class="mb-4" style="background-color:beige">Filter Data</h1>
    <div class="form-row">
        <div class="form-group col-md-6">
            <select ng-model="filters.department" class="form-control" placeholder="Department">
                <option value="">Select Department</option>
                <option ng-repeat="dept in departments" value="{{dept}}">{{dept}}</option>
            </select>
        </div>

        <div class="form-group col-md-6">
            <select ng-model="filters.designation" class="form-control" placeholder="Designation">
                <option value="">Select Designation</option>
                <option ng-repeat="desig in designations" value="{{desig}}">{{desig}}</option>
            </select>
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Designation</th>
                <th>Department</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="employee in employees">
                <td>{{ employee.Id }}</td>
                <td>{{ employee.EmpFirstName }}</td>
                <td>{{ employee.EmpLastName }}</td>
                <td>{{ employee.EmpDesignation }}</td>
                <td>{{ employee.EmpDeptName }}</td>
            </tr>
        </tbody>
    </table>
</div>
