<!-- dashboard-charts.html -->
<div ng-controller="ChartsController" class="container-fluid mt-5" style="width: 100%;">
    <h1 class="mb-4" style="background-color:beige">Employee Charts</h1>
    <div class="form-row">
        <div class="col-md-6">
            <h4>Employees by Department</h4>
            <canvas id="departmentChart"></canvas>
        </div>
        <div class="col-md-6">
            <h4>Employees by Designation</h4>
            <canvas id="designationChart"></canvas>
        </div>
    </div>
</div>
