<!--<div ng-controller="DepartmentController">
    <h2>Department Employees</h2>
    <select ng-model="selectedDepartment">
        <option value="">Select a Department</option>
        <option value="HR">HR</option>
        <option value="Sales">Sales</option>
        <option value="Engineering">Engineering</option>
    </select>

    <div ng-if="employees.length">
        <h3>Employees in {{ selectedDepartment }}</h3>
        <ul>
            <li ng-repeat="employee in employees">
                {{ employee.name }}
            </li>
        </ul>
    </div>
</div>-->
