<div ng-controller="EmployeeController" class="container-fluid mt-5" style="width: 100%;">
    <h1 class="mb-2 col-md-6" style="background-color: rgba(168, 239, 237, 0.48) ">Employee Management</h1>

    <!-- Buttons to open modals -->
    <button class="btn btn-primary mb-4" ng-click="openAddEditModal()" style="border-radius: 15px;background: linear-gradient(90deg, rgba(0, 123, 255, 0.7), rgb(87 112 135 / 90%));">Add Employee</button>
    <button class="btn btn-secondary mb-4" ng-click="openSearchModal()" style="border-radius: 15px; background: linear-gradient(90deg, rgb(134 182 227 / 70%), rgb(65 102 101 / 90%));">Search Employee</button>
    <button class="btn btn-info mb-4" ng-click="clearSearch()" style="border-radius: 15px; background: linear-gradient(90deg, rgb(93 166 231 / 70%), rgb(94 108 110 / 90%)); ">Show All Employees</button>
    <!-- Export to Excel Button -->
    <button class="btn btn-primary mb-4" ng-click="openExportModal()" style="border-radius: 15px; background: linear-gradient(90deg, rgb(119 187 181 / 70%), rgb(86 110 110 / 90%)); ">Export</button>

    <!-- Employee Table -->
    <table class="table table-bordered" style="width: 100%;">
        <thead>
            <tr style="background-color: rgba(78, 162, 173, 0.48); text-align: left; padding: 12px 15px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); ">
                <!-- Add ng-click directives to headers for sorting -->
                <th style="padding: 12px 15px;" ng-click="sortBy('Id')">ID <i class="fas" ng-class="{'fa-chevron-up': sortColumn === 'Id' && !reverseSort, 'fa-chevron-down': sortColumn === 'Id' && reverseSort, 'fa-sort': sortColumn !== 'Id'}"></i></th>
                <th style="padding: 12px 15px;" ng-click="sortBy('EmpFirstName')">First Name <i class="fas" ng-class="{'fa-chevron-up': sortColumn === 'EmpFirstName' && !reverseSort, 'fa-chevron-down': sortColumn === 'EmpFirstName' && reverseSort, 'fa-sort': sortColumn !== 'EmpFirstName'}"></i></th>
                <th style="padding: 12px 15px;" ng-click="sortBy('EmpLastName')">Last Name <i class="fas" ng-class="{'fa-chevron-up': sortColumn === 'EmpLastName' && !reverseSort, 'fa-chevron-down': sortColumn === 'EmpLastName' && reverseSort, 'fa-sort': sortColumn !== 'EmpLastName'}"></i></th>
                <th style="padding: 12px 15px;" ng-click="sortBy('EmpAge')">Age <i class="fas" ng-class="{'fa-chevron-up': sortColumn === 'EmpAge' && !reverseSort, 'fa-chevron-down': sortColumn === 'EmpAge' && reverseSort, 'fa-sort': sortColumn !== 'EmpAge'}"></i></th>
                <th style="padding: 12px 15px;" ng-click="sortBy('EmpEmail')">Email <i class="fas" ng-class="{'fa-chevron-up': sortColumn === 'EmpEmail' && !reverseSort, 'fa-chevron-down': sortColumn === 'EmpEmail' && reverseSort, 'fa-sort': sortColumn !== 'EmpEmail'}"></i></th>
                <th style="padding: 12px 15px;" ng-click="sortBy('EmpDesignation')">Designation <i class="fas" ng-class="{'fa-chevron-up': sortColumn === 'EmpDesignation' && !reverseSort, 'fa-chevron-down': sortColumn === 'EmpDesignation' && reverseSort, 'fa-sort': sortColumn !== 'EmpDesignation'}"></i></th>
                <th style="padding: 12px 15px;" ng-click="sortBy('EmpManagerID')">ManagerID <i class="fas" ng-class="{'fa-chevron-up': sortColumn === 'EmpManagerID' && !reverseSort, 'fa-chevron-down': sortColumn === 'EmpManagerID' && reverseSort, 'fa-sort': sortColumn !== 'EmpManagerID'}"></i></th>
                <th style="padding: 12px 15px;" ng-click="sortBy('EmpDeptName')">Department Name <i class="fas" ng-class="{'fa-chevron-up': sortColumn === 'EmpDeptName' && !reverseSort, 'fa-chevron-down': sortColumn === 'EmpDeptName' && reverseSort, 'fa-sort': sortColumn !== 'EmpDeptName'}"></i></th>
                <th style="padding: 12px 15px;" ng-click="sortBy('EmpStatus')">Status <i class="fas" ng-class="{'fa-chevron-up': sortColumn === 'EmpStatus' && !reverseSort, 'fa-chevron-down': sortColumn === 'EmpStatus' && reverseSort, 'fa-sort': sortColumn !== 'EmpStatus'}"></i></th>
                <th style="padding: 12px 15px;" ng-click="sortBy('EmpSalary')">Salary <i class="fas" ng-class="{'fa-chevron-up': sortColumn === 'EmpSalary' && !reverseSort, 'fa-chevron-down': sortColumn === 'EmpSalary' && reverseSort, 'fa-sort': sortColumn !== 'EmpSalary'}"></i></th>
                <th style="padding: 12px 15px;" ng-click="sortBy('EmpLocation')">Location <i class="fas" ng-class="{'fa-chevron-up': sortColumn === 'EmpLocation' && !reverseSort, 'fa-chevron-down': sortColumn === 'EmpLocation' && reverseSort, 'fa-sort': sortColumn !== 'EmpLocation'}"></i></th>
                <th style="padding: 12px 15px;" ng-click="sortBy('ProjectId')">ProjectID <i class="fas" ng-class="{'fa-chevron-up': sortColumn === 'ProjectId' && !reverseSort, 'fa-chevron-down': sortColumn === 'ProjectId' && reverseSort, 'fa-sort': sortColumn !== 'ProjectId'}"></i></th>
                <th style="padding: 12px 15px;">Actions</th>
            </tr>
        </thead>

        <tbody">
            <tr ng-repeat="employee in filteredEmployees | orderBy:sortColumn:reverseSort"
                ng-class="{
                        'active-status': employee.EmpStatus === 'Active' || employee.EmpStatus === 'active',
                        'inactive-status': employee.EmpStatus === 'Inactive' || employee.EmpStatus === 'inactive' || employee.EmpStatus === 'InActive' || employee.EmpStatus === 'inActive',
                        'dormant-status': employee.EmpStatus === 'Dormant' || employee.EmpStatus === 'dormant'
                    }">
                <td>{{employee.Id}}</td>
                <td>{{employee.EmpFirstName}}</td>
                <td>{{employee.EmpLastName}}</td>
                <td>{{employee.EmpAge}}</td>
                <td>{{employee.EmpEmail}}</td>
                <td>{{employee.EmpDesignation}}</td>
                <td>{{employee.EmpManagerID}}</td>
                <td>{{employee.EmpDeptName}}</td>
                <td>{{employee.EmpStatus}}</td>
                <td>{{employee.EmpSalary | currency}}</td>
                <td>{{employee.EmpLocation}}</td>
                <td>{{employee.ProjectId}}</td>
                <td>
                    <button ng-click="openAddEditModal(employee)" class="btn btn-info btn-sm" style="padding: 2px; font-size: 16px;">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button ng-click="showDeleteConfirmation(employee)" class="btn btn-danger btn-sm" style="padding: 2px; font-size: 16px;">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="13">
                        <div class="pagination-controls">
                            <button class="btn btn-primary" style="border-radius: 15px" ng-click="prevPage()" ng-disabled="currentPage === 1">Prev</button>
                            <span>Page {{currentPage}} of {{totalPages()}}</span>
                            <button class="btn btn-primary" style="border-radius: 15px" ng-click="nextPage()" ng-disabled="currentPage === totalPages()">Next</button>
                        </div>
                    </td>
                </tr>
            </tfoot>
    </table>

    <!-- Add/Edit Employee Modal -->
    <div class="modal fade" id="addEditModal" tabindex="-1" aria-labelledby="addEditModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form ng-submit="saveEmployee()">
                    <div class="modal-header" style="background-color: rgba(78, 162, 173, 0.48); ">
                        <h5 class="modal-title" id="addEditModalLabel">{{ editing ? 'Edit Employee' : 'Add Employee' }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="First Name">First Name</label>
                                <input type="text" maxlength="20" ng-model="employee.EmpFirstName" class="form-control" placeholder="First Name" required style="border-radius:15px">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="Last Name">Last Name</label>
                                <input type="text" maxlength="20" ng-model="employee.EmpLastName" class="form-control" placeholder="Last Name" required style="border-radius:15px">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="Age">Age</label>
                                <input type="number" max="60" min="18" ng-model="employee.EmpAge" class="form-control" placeholder="Age" required style="border-radius:15px">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="Email">Email</label>
                                <input type="email" ng-model="employee.EmpEmail" class="form-control" placeholder="Email" required style="border-radius:15px">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="EmpDeptName">Department</label>
                                <select ng-model="employee.EmpDeptName" class="form-control" required style="border-radius:15px">
                                    <option value="" selected>Select Department</option>
                                    <option value="HR">HR</option>
                                    <option value="Sales">Sales</option>
                                    <option value="Engineering">Engineering</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="EmpDesignation">Designation</label>
                                <select ng-model="employee.EmpDesignation" class="form-control" required style="border-radius:15px"
                                        ng-options="designation for designation in filteredDesignations">
                                    <option value="" selected>Select Designation</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="Manager">Manager</label>
                                <input type="number" ng-model="employee.EmpManagerID" class="form-control" placeholder="Manager ID" required
                                       ng-disabled="employee.EmpDesignation === 'Manager'" style="border-radius:15px">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="EmpStatus">Status</label>
                                <select ng-model="employee.EmpStatus" class="form-control" required style="border-radius:15px">
                                    <option value="" selected>Status</option>
                                    <option value="Active">Active</option>
                                    <option value="InActive">InActive</option>
                                    <option value="Dormant">Dormant</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="EmpSalary">Salary</label>
                                <input type="number" max="120000" min="20000" ng-model="employee.EmpSalary" class="form-control" placeholder="Salary" required style="border-radius:15px">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="EmpLocation">Location</label>
                                <input type="text" ng-model="employee.EmpLocation" class="form-control" placeholder="Location" required style="border-radius:15px">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="ProjectID">Project</label>
                                <select ng-model="employee.ProjectId" class="form-control" required style="border-radius:15px">
                                    <option value="" selected>Select Project</option>
                                    <option ng-repeat="project in projects" value="{{project.Id}}">{{project.ProjectName}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" style="border-radius:15px">{{ editing ? 'Update Employee' : 'Add Employee' }}</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="border-radius:15px">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Delete Confirmation Modal -->
    <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style=" background-color: bisque;">
                    <h5 class="modal-title" id="deleteConfirmationModal">Confirm Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure to Delete this employee data?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="confirmDelete(employee.Id)">Yes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Search Employee Modal -->
    <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form ng-submit="searchEmployees()">
                    <div class="modal-header" style="background-color: rgba(78, 162, 173, 0.48);">
                        <h5 class="modal-title" id="searchModalLabel">Search Employee</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" ng-model="searchCriteria.query" class="form-control" placeholder="Enter Email, ID, or Name" style="border-radius:15px">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" style="border-radius:15px">Search Employee</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="border-radius:15px">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Export Modal -->
    <div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="exportModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: rgba(78, 162, 173, 0.48); ">
                    <h5 class="modal-title" id="exportModalLabel">Export Data</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="exportFormat">Select Format</label>
                            <select class="form-control" id="exportFormat" ng-model="exportFormat" style="border-radius:15px">
                                <option value="csv">CSV</option>
                                <option value="pdf">PDF</option>
                                <option value="excel">Excel</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Select Columns to Export</label>
                            <div>
                                <input type="checkbox" ng-model="selectAll" ng-change="selectAllColumns(selectAll)"> Select All
                            </div>
                            <div ng-repeat="column in availableColumns">
                                <input type="checkbox" ng-model="column.selected" ng-change="updateSelectAll()"> {{column.name}}
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="exportData()" style="border-radius:15px">Export</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="border-radius:15px">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Toast Container -->
    <div aria-live="polite" aria-atomic="true" style="position: fixed; top: 20px; right: 20px; z-index: 1050;">
        <div class="toast" ng-repeat="toast in toasts" ng-class="{'show': toast.show}" style="background-color: rgba(78, 162, 173, 0.48); color: aliceblue; border-radius: 10px; box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); transition: opacity 0.5s ease-in-out; ">
            <div class="toast-header">
                <strong class="mr-auto">{{toast.title}}</strong>
                <small class="text-muted">{{toast.time}}</small>
                <button type="button" class="ml-2 mb-1 close" ng-click="dismissToast(toast)" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                {{toast.message}}
            </div>
        </div>
    </div>
</div>
