<div ng-controller="EmployeeController" class="container-fluid px-0 mt-5">
    <h1 class="mb-4" style="background-color:beige">Employee Management</h1>

    <!-- Buttons to open modals -->
    <button class="btn btn-primary mb-4" ng-click="openAddEditModal()" style="border-radius: 15px; background: linear-gradient(45deg, rgba(0, 123, 255, 0.7), rgba(0, 170, 255, 0.9));">Add Employee</button>
    <button class="btn btn-secondary mb-4" ng-click="openSearchModal()" style="border-radius: 15px; background: linear-gradient(45deg, rgba(108, 117, 125, 0.7), rgba(136, 136, 136, 0.9));">Search Employee</button>
    <button class="btn btn-info mb-4" ng-click="clearSearch()" style="border-radius: 15px; background: linear-gradient(45deg, rgba(23, 162, 184, 0.7), rgba(51, 193, 222, 0.9));">Show All Employees</button>
    <!-- Export to Excel Button -->
    <button class="btn btn-success mb-4" ng-click="exportToExcel()" style="border-radius: 15px; background: linear-gradient(45deg, rgba(40, 167, 69, 0.7), rgba(91, 201, 128, 0.9));">Export to Excel</button>

    <!-- Employee Table -->
    <table class="table table-responsive table-bordered m-0">
        <thead>
            <tr style="background-color: beige; text-align: left; padding: 12px 15px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">
                <th style="padding: 12px 15px;">ID</th>
                <th style="padding: 12px 15px;">First Name</th>
                <th style="padding: 12px 15px;">Last Name</th>
                <th style="padding: 12px 15px;">Age</th>
                <th style="padding: 12px 15px;">Email</th>
                <th style="padding: 12px 15px;">Designation</th>
                <th style="padding: 12px 15px;">ManagerID</th>
                <th style="padding: 12px 15px;">DepartmentName</th>
                <th style="padding: 12px 15px;">Status</th>
                <th style="padding: 12px 15px;">Salary</th>
                <th style="padding: 12px 15px;">Location</th>
                <th style="padding: 12px 15px;">ProjectID</th>
                <th style="padding: 12px 15px;">Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="employee in employees"
                ng-class="{
                        'active-status': employee.EmpStatus === 'Active' || employee.EmpStatus === 'active',
                        'inactive-status': employee.EmpStatus === 'Inactive' || employee.EmpStatus === 'inactive' || employee.EmpStatus === 'InActive' || employee.EmpStatus === 'inActive',
                        'dormant-status': employee.EmpStatus === 'Dormant' || employee.EmpStatus === 'dormant'
                    }">
                <td>{{employee.Id}}</td>
                <td>{{employee.EmpFirstName}}</td>
                <td>{{employee.EmpLastName}}</td>
                <td>{{employee.EmpAge}}</td>
                <td>{{employee.EmpEmail}}</td>
                <td>{{employee.EmpDesignation}}</td>
                <td>{{employee.EmpManagerID}}</td>
                <td>{{employee.EmpDeptName}}</td>
                <td>{{employee.EmpStatus}}</td>
                <td>{{employee.EmpSalary | currency}}</td>
                <td>{{employee.EmpLocation}}</td>
                <td>{{employee.ProjectId}}</td>
                <td>
                    <button ng-click="openAddEditModal(employee)" class="btn btn-info btn-sm" style="padding: 2px; font-size: 16px;">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button ng-click="deleteEmployee(employee.Id)" class="btn btn-danger btn-sm" style="padding: 2px; font-size: 16px;">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Add/Edit Employee Modal -->
    <div class="modal fade" id="addEditModal" tabindex="-1" aria-labelledby="addEditModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form ng-submit="saveEmployee()">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addEditModalLabel">{{ editing ? 'Edit Employee' : 'Add Employee' }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="First Name">First Name</label>
                                <input type="text" maxlength="20" ng-model="employee.EmpFirstName" class="form-control" placeholder="First Name" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="Last Name">Last Name</label>
                                <input type="text" maxlength="20" ng-model="employee.EmpLastName" class="form-control" placeholder="Last Name" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="Age">Age</label>
                                <input type="number" max="60" min="18" ng-model="employee.EmpAge" class="form-control" placeholder="Age" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="Email">Email</label>
                                <input type="email" ng-model="employee.EmpEmail" class="form-control" placeholder="Email" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="EmpDesignation">Designation</label>
                                <select ng-model="employee.EmpDesignation" class="form-control" required>
                                    <option value="" selected>Select Designation</option>
                                    <option value="Associate">Associate</option>
                                    <option value="SE">Software Engineer</option>
                                    <option value="SSE">Senior Engineer</option>
                                    <option value="LE">Lead Engineer</option>
                                    <option value="Manager">Manager</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="Manager">Manager</label>
                                <input type="number" ng-model="employee.EmpManagerID" class="form-control" placeholder="Manager ID" required
                                       ng-disabled="employee.EmpDesignation === 'Manager'">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="EmpDeptName">Department</label>
                                <select ng-model="employee.EmpDeptName" class="form-control" required>
                                    <option value="" selected>Select Department</option>
                                    <option value="HR">HR</option>
                                    <option value="Sales">Sales</option>
                                    <option value="Engineering">Engineering</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="EmpStatus">Status</label>
                                <select ng-model="employee.EmpStatus" class="form-control" required>
                                    <option value="" selected>Status</option>
                                    <option value="Active">Active</option>
                                    <option value="InActive">InActive</option>
                                    <option value="Dormant">Dormant</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="EmpSalary">Salary</label>
                                <input type="number" max="120000" min="20000" ng-model="employee.EmpSalary" class="form-control" placeholder="Salary" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="EmpLocation">Location</label>
                                <input type="text" ng-model="employee.EmpLocation" class="form-control" placeholder="Location" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="ProjectID">Project</label>
                                <select ng-model="employee.ProjectId" class="form-control" required>
                                    <option value="" selected>Select Project</option>
                                    <option ng-repeat="project in projects" value="{{project.Id}}">{{project.ProjectName}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">{{ editing ? 'Update Employee' : 'Add Employee' }}</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Search Employee Modal -->
    <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form ng-submit="searchEmployees()">
                    <div class="modal-header">
                        <h5 class="modal-title" id="searchModalLabel">Search Employee</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <input type="text" ng-model="searchCriteria.email" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group col-md-4">
                                <input type="number" ng-model="searchCriteria.id" class="form-control" placeholder="Employee ID">
                            </div>
                            <div class="form-group col-md-4">
                                <input type="text" ng-model="searchCriteria.name" class="form-control" placeholder="First or Last Name">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Search Employee</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Column Selection Modal -->
    <div class="modal fade" id="columnSelectModal" tabindex="-1" aria-labelledby="columnSelectModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="columnSelectModalLabel">Select Columns to Export</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div ng-repeat="(key, value) in employees[0]" class="form-group">
                            <input type="checkbox" ng-model="selectedColumns[key]" id="{{key}}">
                            <label for="{{key}}">{{key}}</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="confirmExport()">Export to Excel</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
