<div class="d-flex align-items-center justify-content-center vh-70">
    <div class="card p-4" style="width: 100%; max-width: 400px; background-color: rgba(255, 255, 255, 0.8);">
        <div ng-controller="LoginController">
            <h2 class="mb-4 text-center">Login</h2>
            <form ng-submit="login()">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" ng-model="user.Email" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" ng-model="user.Password" class="form-control" required />
                </div>
                <button class="btn btn-primary w-100 mt-3" type="submit">Login</button>
                <div class="text-center mt-3">
                    <a href="#!/register">Register</a>
                </div>
            </form>
        </div>
    </div>
</div>



<!--<div ng-controller="LoginController" class="container mt-5">
    <h2 class="mb-4">Login</h2>
    <form ng-submit="login()">
        <div class="form-group">
            <label>Enter your Email</label>
            <input type="email" ng-model="user.Email" class="form-control" required />
        </div>
        <div class="form-group">
            <label>Enter your Password</label>
            <input type="password" ng-model="user.Password" class="form-control" required />
        </div>
        <button class="btn btn-primary" type="submit">Login</button>
        <a href="#!/register">Register</a>
    </form>
</div>-->
